input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-size: 20px;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #f4f4f4f4;
  background-color: #f4f4f4f4;
  text-align: center;
}
