input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

input{
    font-size: 20px;
    width: 40%;
}

/*
height: "1rem",
margin: "0 8px 0",
borderBottom: "none",
backgroundColor: "black",
width: "80%",
color: "white"
*/