input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=number] {
    width: 50%;
    margin: 8px 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3CBC8D;
    height: 1rem;
}

