#assetsTable tr:nth-child(n+3) td:nth-child(n+5){
  visibility: hidden;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 4px solid black;
  color: white;
  background-color: black;
}

td {
  border: 3px solid #ddd;
  padding: 8px;
  font-size: 18px;
  color: #f4f4f4f4;
}

th {
  border: 3px solid black;
  padding: 8px;
  text-align: center;
  background-color: #eaeaea;
  color: black;
  font-size: 22px;
}
