#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

/*----- Table Styles -----*/
#assetsTable {
  display: table-caption;
  border: 1px solid;
  width: 489px;
  margin-left: 50px;
  margin-top: 17px;
}

#profitMargins {
  display: inline-block;
  border: 1px solid;
  width: 612px;
  margin-left: 50px;
  position: absolute;
}

#monthlyTable {
  display: inline-block;
  border: 1px solid;
  width: 812px;
  margin-left: 50px;
}

/*#monthlyTable tr th:nth-child(0),
              tr td:nth-child(0)
{
  display: none;
}*/

#fixedCosts{
  border: 1px solid;
  float: left;
  width: 220px;
  margin-left: 50px;
}
/*------------------------*/