/*----- Table Styles -----
#fixedCosts{
  border: 1px solid;
  float: left;
  width: 220px;
  margin-left: 50px;
}

#monthlyTable {
  display: inline-block;
  border: 1px solid;
  width: 1332px;
  margin-left: 50px;
}

#profitMargins {
  display: initial;
  border: 1px solid;
  width: 612px;
  margin-left: 50px;
}

#assetsTable {
  display: unset;
  border: 1px solid white;
  width: 489px;
  margin-left: 50px;
}

td {
  padding: 0 0 0 0;
}
------------------------*/
/*#fixedCosts {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 4px solid black;
}

#fixedCosts td{
  border: 3px solid #ddd;
  padding: 8px;
}

#fixedCosts th {
  border: 3px solid black;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 22px;
}*/

table {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 4px solid black;
  color: white;
  background-color: black;
}

td {
  border: 3px solid #ddd;
  padding: 8px;
}

th {
  border: 3px solid black;
  padding: 8px;
  text-align: center;
  background-color: #EAEAEA;
  color: black;
  font-size: 22px;
}

/*
table {
  border: 3px solid red;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}*/

/*tr, td{
  border: 3px solid white;
}*/
/*td{
  border: 3px solid white;
}
tr{
  border: 3px solid black;
}




th {
  border: 3px solid black;
}
*/
